OPENAI_API_KEY=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
KAFKA_BOOTSTRAP=localhost:9092


GOOGLE_API_KEY=AIzaSyBn6KoqLdhsn1RqoW9dZ5qgnnYZpY45UuY
GOOGLE_VERTEX_BASE_URL=https://us-central1-aiplatform.googleapis.com
API_KEY_NAME="AIzaSyBGGlJHy8P4YZhMLEwRsgztKyeq6RSYRYM"
GOOGLE_PROJECT_NAME="projects/657160341896"
GOOGLE_PROJECT_NUMBER="657160341896"
GOOGLE_PROJECT_ID="insightforge-492711"
CLIENT_ID="657160341896-qi7q7u1esoelrk7ib503h8di68qhqn96.apps.googleusercontent.com"
CLIENT_SECRET="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"
GOOGLE_VERTEX_PROJECT="insightforge-492711"
GOOGLE_APPLICATION_CREDENTIALS="credentials/insightforge-492711-b3b3c0c61b35.json"

AGENT_HOST=127.0.0.1
PROVIDER_AGENT_PORT=9997



# EXTERNAL TOOLS CALLING
SUNO_MUSIC_CREATION_API_KEY=f4b9c800281148baeefe4a6595dbae51
SERP_API_KEY="8fec8dd93965177b5736bd9582b7889d70d15d53e7615a6f9436c95be93715e9"
JINA_API_KEY="jina_985a210a515145fb970a2f05cd0ff4e6WkSIllXveIOxMNlkTUl5_00oRZ_5"
TIKTOK_PROJECT_CLIENT_ID="aw6yke9o89kram7t"
TIKTOK_PROJECT_CLIENT_SECRET="DbNvQcKnJnGES5AQYgGzwfFfClFDEbBD"
TIKTOK_ACCESS_TOKEN="clt.2.vOkPc2funEG07oAL6YGXewD5xkUpOcwoJgVByJqvkfWvN-zwCzpiilAQ9uYAgBhI6QCBdPxTrVjMnuXbxYBoAg*0"

ENSEMBLEDATA_API_KEY="ps1m39gRXZWFJQCs"
ENSEMBLEDATA_API_KEY_2="Zpwn5wkjp7AZcwu2"
### HOSTING AND PORT
HOST="localhost"
TREND_AGENT_PORT="9997"



TIKTOK_HUB_API_KEY="gLYeXtwR3m6sxFecBJ+Tyz7yHSWMS7dS4BTYrVqfV/2IumymOXCEWSuwCQ=="
UPLOAD_POST_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImJ1aWxlaG9hbmcucW5AZ21haWwuY29tIiwiZXhwIjo0OTI5NDk2MDg3LCJqdGkiOiI3NmQ2ZWIzNC0zMjE5LTQwNTgtYTBjNC0yOWFjMDBhNzliODkifQ.KbEelnG7qxuYGBdGiJDK0dRmetyeTFfRD_SyN1jbuTs"
UPLOAD_POST_YOUTUBE_USER=blhoang23

DATABASE_URL=postgresql+asyncpg://postgres.mxzmkxnbripcltuopawa:Domixi%4012342005@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres?ssl=require


